@model web410719396.viewmodels.Signupdata
@{
    ViewBag.Title = "SignUp"; 
}

<h2>會員註冊</h2>
@using (Html.BeginForm("SignUp","User", FormMethod.Post))
{
<p>@Html.DisplayNameFor(a => a.Name):@Html.TextBoxFor(a => a.Name) @Html.ValidationMessageFor(a =>a.Name)</p>
<p>@Html.DisplayNameFor(b => b.Account)@Html.TextBoxFor(b => b.Account) @Html.ValidationMessageFor(b =>b.Account)</p>
<p>@Html.DisplayNameFor(a => a.Password):@Html.PasswordFor(a => a.Password) @Html.ValidationMessageFor(a => a.Password)</p>
    <p>@ViewBag.Message</p>
    <input type="submit" name="name" value="註冊"/>  


}

